alias wget='wget -c'
alias o="open ."
alias ip="curl icanhazip.com"
alias h='history'
alias k='kubectl'
alias ks="kubectl -n staging"
alias kss="k9s -n staging -c pods"
alias ksscm="k9s -n staging -c cm"
alias kssd="k9s -n staging -c deployments"
alias kp="kubectl -n production"
alias kpp="k9s -n production -c pods"
alias kppcm="k9s -n production -c cm"
alias kppd="k9s -n production -c deployments"
alias km="kubectl -n monitoring"
alias kmm="k9s -n monitoring -c pods"
alias kl="kubectl -n logging"
alias sed="gsed"
alias tree='tree -C'
alias v='nvim'
alias v.='nvim .'
alias src='source ~/.zshrc'

# Color iterm2 tab RBG (0-255)
alias tabcolor=iterm2_tab_color

## Docker
alias dc='docker-compose'
alias dcr='docker-compose run --rm'

## Python/Django
alias python='python3'
alias ipython='python3 -m IPython'
alias pytox='tox -e py36'
alias pym='python3 manage.py'
alias mkenv='python3 -m venv venv'
alias startenv='source venv/bin/activate && which python3'
alias stopenv='deactivate'

## Full color ssh terminal
alias ssh='TERM=xterm-256color ssh'
